/* About.css */
.about-page {
    background-color: #000;
    color: #fff;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-content, .blog-info, .github-info, .account-info {
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center;
    background: #fff;
    color: #000;
  }
  
  h1, h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .about-content, .blog-info, .github-info, .account-info {
      padding: 10px;
    }
  }
  